In [2]:
import pandas as pd
dataset = pd.read_csv('Overall Movie.csv')
# Convert all reviews to lowercase
dataset['Reviews'] = dataset['Reviews'].apply(lambda x: x.lower())

# Concat description and reviews and Stars to string

dataset['Reviews'] = dataset['Reviews'].astype(str)
dataset['Reviews'] = dataset['Description'] + dataset['Reviews']

# Remove "[" and "]"
dataset['Reviews'] = dataset['Reviews'].apply(lambda x: x.replace("['",''))
dataset['Reviews'] = dataset['Reviews'].apply(lambda x: x.replace("']",''))

,Unnamed: 0,Movie Name,Year of Release,Watch Time,Movie Rating,Description,Director,Stars,Reviews,Words in Review
0,0.0,Lion-Girl,2023,121,7.8,"In the year 20XX, mysterious meteors bombard t...",['Kurando Mitsutake'],"['Stefanie Estes', 'Derek Mears', 'David Sakur...","In the year 20XX, mysterious meteors bombard t...",1.0
1,1.0,It's All True,2023,53,9.7,"A story about personal death, rebirth, mental ...",['Malinda Kathleen Reese'],"['Malinda Kathleen Reese', 'Kyana Fanene']","A story about personal death, rebirth, mental ...",1.0
2,2.0,Journey,2023,120,8.4,Roberto is a young man who is trying to find h...,['Cristopher Rodriguez'],"['Meaghan Martin', 'Rafael Cebrián', 'Gustavo ...",Roberto is a young man who is trying to find h...,235.0
3,3.0,Minore,2023,111,6.9,When mysterious creatures invade a Greek seasi...,['Konstantinos Koutsoliotas'],"['Davide Tucci', 'Daphne Alexander', 'Apollon ...",When mysterious creatures invade a Greek seasi...,1.0
4,4.0,Peter Pan & Wendy,2023,106,4.1,"Follow the adventures of Peter Pan, a boy who ...",['David Lowery'],"['Alexander Molony', 'Ever Anderson', 'Jude La...","Follow the adventures of Peter Pan, a boy who ...",2982.0
...,...,...,...,...,...,...,...,...,...,...
62141,NaN,Shadowzone,1990,88,5.1,Scientists experiment with Extreme Dream Sleep...,['J.S. Cardone'],"['Louise Fletcher', 'David Beecroft', 'James H...",Scientists experiment with Extreme Dream Sleep...,NaN
62142,NaN,Why Me?,1990,87,5.8,A jewel thief steals a sacred ruby which sets ...,['Gene Quintano'],"['Christopher Lambert', 'Kim Greist', 'Christo...",A jewel thief steals a sacred ruby which sets ...,NaN
62143,NaN,On lok jin cheung,1990,96,6.3,A pleasant trip to the Phillipines is turned i...,['Eric Tsang'],"['Eric Tsang', 'Irene Wan', 'Kwong-Leung Wong'...",A pleasant trip to the Phillipines is turned i...,NaN
62144,NaN,Love or Money,1990,90,4.5,Two young owners of a firm are about to make a...,['Todd Hallowell'],"['Tim Daly', 'Michael Garin', 'Haviland Morris...",Two young owners of a firm are about to make a...,NaN
62145,NaN,Prey for the Hunter,1990,84,3.2,A group of well-to-do weekend hunters decide t...,['John H. Parr'],"['Todd Jensen', 'Andre Jacobs', 'Michelle Best...",A group of well-to-do weekend hunters decide t...,NaN

In [3]:
from sentence_transformers import SentenceTransformer, util
import torch

model = SentenceTransformer('all-mpnet-base-v2')
model.max_seq_length = 384

embeddings2 = model.encode(dataset['Reviews'].tolist(), convert_to_tensor=True)
# save tensors as a file
torch.save(embeddings2, 'Overall Movie.pt')

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm